<ion-pane>
    <ion-view class="navbar header">
        <ion-content class="padding">
            <!--Hello text-->
            <div class="text-center">
                <h2>Bread Basket</h2>
                <h4>Connecting people to end hunger</h4>
            </div>


                <!--href="sign-up.html"-->


                <!--LOGIN PAGE BEGINS-->
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" ng-model="signinData.email" placeholder="Email">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="signinData.password" placeholder="Password">
                    </label>
                    <button ng-controller="SigninController" ng-click="submitSigninData(signinData);"
                            class="button button-block button-positive">Submit
                    </button>
                </div>
            <div class="text-center">
                <a class="text-center" href="#/sign-up">Sign up today!</a>
            </div>


        </ion-content>
    </ion-view>
</ion-pane>