<ion-pane>
    <ion-view class="navbar header">
        <ion-content>
        <div class="padding">
            <!--Hello text-->



            <div class="login text-center">
                <h3 class="login">Connecting people to end hunger.</h3>
            </div>
                <!--LOGIN PAGE BEGINS-->
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" ng-model="signinData.email" placeholder="Email">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="signinData.password" placeholder="Password">
                    </label>
                </div>
            <button ng-controller="SigninController" ng-click="submitSigninData(signinData);"
                    class="button button-bb button-block">Submit
            </button>
            <div class="text-center padding">
                <a class="text-center" href="#/sign-up">Sign up today!</a>
            </div>
        </div>
        </ion-content>
    </ion-view>
</ion-pane>