<ion-pane>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Bread Basket</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<!--Hello text-->
		<h3>Welcome to Bread Basket.</h3>
			<h4> We aim to eliminate hunger by connecting grocery stores and restaurants with foodbanks and shelters.</h4>
		<div class="padding-left">
		<h4>Food Provider</h4>
			<div class="padding-left">
				<div><i class="ion-soup-can-outline"></i> &nbsp;Create a New Listing</div>
				<div><i class="ion-clock"></i> &nbsp;Wait for a Volunteer to claim it</div>
				<div><i class="ion-arrow-swap"></i> &nbsp;Pass off the donation</div>
			</div>

		<h4>Food Receiver</h4>
			<div class="padding-left">
				<div><i class="ion-document-text"></i> &nbsp;View all Listings</div>
				<div><i class="ion-checkmark-circled"></i> &nbsp;Claim a Listing</div>
				<div><i class="ion-android-car"></i> &nbsp;Pick up the Listing</div>
			</div>
		</div>


		<!--LOGIN PAGE BEGINS-->
		<div class="list list-inset">
			<label class="item item-input">
				<input type="email" ng-model="signinData.email" placeholder="Email">
			</label>
			<label class="item item-input">
				<input type="password" ng-model="signinData.password" placeholder="Password">
			</label>
			<button ng-controller="SigninController" ng-click="submitSigninData(signinData);" class="button button-block button-positive">Submit</button>
		</div>


	</ion-content>
</ion-pane>