<ion-pane>
    <ion-nav-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Bread Basket</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <!--Hello text-->
        <h4 class="login padding text-center">Join the Bread Basket movement!</h4>

        <!--SIGN UP FORM BEGINS-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="signupData.volFirstName" ng-required="true" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="signupData.volLastName" ng-required="true" placeholder="Last Name">
            </label>
            <!--//////I used this as my template but added ng-required//////-->
            <label class="item item-input">
                <input type="email" ng-model="signupData.volEmail" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="tel" ng-model="signupData.volPhone" ng-required="true" placeholder="Phone">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="signupData.password" placeholder="Password" ng-required="true">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="signupData.password_confirmation" placeholder="Confirm Password" ng-required="true">
            </label>
            <!--organization-->
            <label class="item item-input">
            <input type="text" placeholder="Organization" ng-model="signupData.orgName" ng-required="true"/>
            </label>
            <!--Address 1-->
            <label class="item item-input">
                <input type="text" placeholder="Address 1" ng-model="signupData.orgAddress1" ng-required="true"/>
            </label>
            <!--Address 2-->
            <label class="item item-input">
            <input type="text" placeholder="Address 2" ng-model="signupData.orgAddress2" ng-required="true"/>
            </label>
            <!--city-->
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="signupData.orgCity" ng-required="true"/>
            </label>
            <!--state-->
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="signupData.orgState" ng-required="true"/>
            </label>
            <!--zip - TAMRA CHANGED INPUT TYPE-->
            <label class="item item-input">
                <input type="number" placeholder="Zip" ng-model="signupData.orgZip" ng-required="true" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/"/>
            </label>
            <!--phone-->
            <label class="item item-input">
                <input type="text" placeholder="Organization Phone" ng-model="signupData.orgPhone" ng-required="true"/>
            </label>
            <!--hours-->
            <label class="item item-input">
                <input type="text" placeholder="Hours" ng-model="signupData.orgHours" ng-required="true"/>
            </label>
            <!--Description-->
            <label class="item item-input">
                <input type="text" placeholder="Description" ng-model="signupData.description" ng-required="true"/>
            </label>

            <!--Here is the code from the Web app for orgType-->
            <div class="input-group">
                <select class="form-control" id="orgType" name="orgType" ng-model="signupData.orgType" ng-required="true">
                    <option value="">&mdash;SELECT AN OPTION&mdash;</option>
                    <option value="G">We would like to donate food.</option>
                    <option value="R">We are a shelter or food bank needing donations.</option>
                </select>
            </div>
            </div>
        <button ng-click="submitSignupData(signupData);" class="button button-block">Submit</button>
    </ion-content>
    </ion-nav-view>
</ion-pane>