<ion-view view-title="Listings">
    <!--Listings-->
    <div class="item item-divider">
        Listings
    </div>
    <ion-content class="padding">
        <ion-list>
            <div class="item item-button-right">
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="listing in listings" type="item-text-wrap" href="#/tab/listings/{{listing.id}}">
                    <main ng-controller="ListingController"><!--right?  SHOULDN'T need another controller...-->
                        <div class="container">
                            <listing-view ng-hide="isEditing"></listing-view>
                            <listing-edit ng-show="isEditing"></listing-edit>
                        </div>
                    </main>
            </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>



??????????????/
/{{listing.id}}