<ion-view view-title="Listings">
	<!--Listings-->
	<ion-content class="padding">
		<ion-list>

			<ion-item class="item item-button-right" ng-repeat="listing in listings| orderBy: '-listingPostTime'" type="item-text-wrap" href="#/tab/listings/{{listing.id}}">
				<h2>{{ listing.listingMemo }}</h2>
				<p>{{ listing.listingPostTime | date : 'short' }}</p>

				<button class="button button-balanced" ng-hide="listing.listingClaimedBy" href="#/tab/listing-view" >
					VIEW
				</button>
				<button class="button button-energized" ng-show="listing.listingClaimedBy">
					CLAIMED
				</button>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
