<ion-view view-title="Listings">

	<ion-nav-buttons side="primary">
		<!--this button shows the delete buttons in the ion list-->
		<button class="button" ng-click="doSomething()">
			delete
			<i class="icon ion-ios-minus-outline"></i>
		</button>
		<!--this button creates a modal to add a new listing-->
		<button class="button" ng-click="doSomething()">
			new
			<i class="icon ion-ios-plus-outline"></i>
		</button>

	</ion-nav-buttons>



	<!--divider-->
	<div class="item item-divider">
		Listings
	</div>
	<!--Listings-->
	<ion-content class="padding">
		<ion-list>

			<ion-item class="item item-button-right" ng-repeat="listing in listings| orderBy: '-listingPostTime'" type="item-text-wrap" ng-href={{chooseView(listing.listingId)}}>
				<h2>{{ listing.listingMemo }}</h2>
				<p>{{ listing.listingPostTime | date : 'short' }}</p>

				<button class="button button-balanced" ng-hide="listing.listingClaimedBy">
					VIEW
				</button>
				<button class="button button-energized" ng-show="listing.listingClaimedBy">
					CLAIMED
				</button>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
