<ion-view view-title="Claim Details">
	<ion-content class="padding">

		<div class="padding card">

			<h4>A Volunteer Is On The Way!</h4>
			<p>
				Listing: {{listing.listingMemo}}
			</p>
			<p>
				Volunteer Organization: {{organization.orgName}}
			</p>
			<p>
				Location: {{organization.orgAddress1}} {{organization.orgAddress2}} {{organization.orgCity}}, {{organization.orgState}} {{organization.orgZip}}
			</p>
			<p>
				Phone: {{organization.orgPhone}}
			</p>

		</div>
	</ion-content>
</ion-view>