<ion-view view-title="Listing Details">
    <ion-content class="padding">
        <h3>
            {{listing.listingMemo}}
        </h3>
        <h3>
            Posted On: {{listing.listingPostTime | date: 'short'}}
        </h3>
        <h3>
            {{listingType.listingTypeInfo}}
        </h3>
        <h3>
            Location: {{organization.orgAddress1}} {{organization.orgAddress2}} {{organization.orgCity}} {{organization.orgState}} {{organization.orgZip}}
        </h3>
        <h3>
            Hours: {{organization.orgHours}}
        </h3>
        <h3>
            Phone: {{organization.orgPhone}}
        </h3>

    </ion-content>
</ion-view>