<ion-view view-title="Organization">
	<ion-content class="padding">
		<ion-list>
			<ion-item class="item item-icon-left item-icon-right" href="#tab/organization/{{organization.orgId}}">
				<i class="icon ion-edit"></i>
				Edit {{organization.orgName}}
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>

		</ion-list>

		<div class="list card">

			<a href="#" class="item item-icon-left">
				<i class="icon ion-home"></i>
				<h2> {{organization.orgAddress1}}</h2>
				<h2> {{organization.orgAddress2}}</h2>
				{{organization.orgCity}}, {{organization.orgState}}
				<h2> {{organization.orgZip}}</h2>
			</a>

			<a href="#" class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>
				{{organization.orgPhone}}
			</a>


			<a href="#" class="item item-icon-left">
				<i class="icon ion-clock"></i>
				{{organization.orgHours}}
			</a>

		</div>

	</ion-content>
</ion-view>