<!--
  This template loads for the 'tab.volunteer-new' state (breadbasket.js)
  it's also a form that submits post/create data back to the volunteer service
-->
<ion-view view-title="Volunteer">
	<ion-content class="padding">

		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">First Name</span>
				<input ng-model="volunteer.volFirstName" type="text" placeholder="First Name">
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">Last Name</span>
				<input ng-model="volunteer.volLastName" type="text" placeholder="Last Name">
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input ng-model="volunteer.volEmail" type="text" placeholder="Email">
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">Phone</span>
				<input ng-model="volunteer.volPhone" type="text" placeholder="Phone">
			</label>

		</div>

		<button class="button button-full button-bb" ng-click="newVolunteer(volunteer);">
			Submit
		</button>

	</ion-content>
</ion-view>
